<div class="container">
  <h1>Welcome to Dan.ly!</h1>
  <p>AKA <strong>The Jungle</strong></p>
  <% if @url_message %>
    <p><%= @url_message  %></p>
  <% end %>

  <form action="/urls" method="post">
    Enter a URL to be shortened!
    <br>
    <input type="text" name="long">
    <input type="submit" value="Enter!">
  </form>
</div>
