<div class="container">
  <h1>Welcome to Dan.ly!</h1>
  <p>AKA <strong>The Jungle</strong></p>
  <% if @short_url %>
    <p>Your short url is <a href="http://<%=@short_url%>"><%=@short_url%></a></p>
  <% end %>

  <form action="/urls" method="post">
    Enter a URL to be shortened!
    <br>
    <input type="text" name="long">
    <input type="submit" value="Enter!">
  </form>
</div>
